<section class="footer">
  {{! <div class="footer__social">

  </div> }}
  <div class="footer__links">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">Resources</a>
      </li>
      <li>
        <a href="">Form</a>
      </li>
      <li>
        <a href="">ChatAI</a>
      </li>
    </ul>
  </div>
  <div class="footer__logo">
    <p>MindWay</p>
  </div>
  <div class="footer__rights">
    <p>&copy <span id="year"></span> All Rights Reserved</p>
  </div>
</section>