<section class="footer">
  <div class="footer__social">

  </div>
  <div class="footer__links">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/exercise">Exercise</a>
      </li>
      <li>
        <a href="/bmi">BMI Calculator</a>
      </li>
      <li>
        <a href="/recipes">Recipes</a>
      </li>
      <li>
        <a href="/chatai">ChatAI</a>
      </li>
    </ul>
  </div>
  <div class="footer__logo">
    <p>MindWay</p>
  </div>
  <div class="footer__rights">
    <p>&copy <span id="year"></span> All Rights Reserved</p>
  </div>
</section>