<nav class="navbar">
  <div class="navbar__logo">
    <img class="logo" src="/assets/img/logo.png" alt="" />
    <p>SOMA</p>
  </div>
  <div class="navbar__links">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/exercise">Exercise</a>
      </li>
      <li>
        <a href="/recipes">Recipes</a>
      </li>
      <li>
        <a href="/chatai">ChatAI</a>
      </li>
    </ul>
  </div>
  <div class="navbar__login">
    <img class="theme--icon" src="/assets/svg/moon.svg" alt="" />
    <a href="">
      <img src="/assets/svg/user.svg" alt="" />
    </a>

    <div class="menu--container">
      <img class="navbar--icon" src="/assets/svg/menu.svg" alt="" />

      <div class="menu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/exercise">Exercise</a>
          </li>
          <li>
            <a href="/recipes">Recipes</a>
          </li>
          <li>
            <a href="/chatai">ChatAI</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>