<section class="container-404">
  <h1>Page Not Found</h1>
  <p>we’re sorry. the page you requested could no be found Please go back to the
    home page</p>
  {{> primaryBtn link="/" textContent="Go Home"}}

</section>