<section class="ai-container">
  <div class="ai-header">
    <h1> CHAT AI</h1>
    <p class="ai-p">A friendly AI assistant offering beginner exercise routines,
      balanced nutrition advice, and wellness tips.</p>
  </div>
  <div class="ai-box">
    <div class="messages" id="messages"></div>
  </div>
  <div class="ai-input">
    <input
      type="text"
      id="user-input"
      placeholder="How can we help you today?"
      autofocus
    />
    <button id="send-button">⬆</button>
  </div>
</section>
