<section class="hero">
    <h1>Lorem ipsum <br>dolor sit amet consectetur.</h1>
    <div class="search__container"></div>
        <form action="" class="search">
        <div class="search--input">
            <input type="text">
        </div>
        <div>
            <select class="select" name="" id="">
                <option value="">Any</option>
            </select>
        </div>
        <div>
            <input class="submit" type="submit" value="Submit">
        </div>
        </form>
</div>
</section>


<section class="result">

</section>