<section class="hero">
    <h1>Lorem ipsum <br>dolor sit amet consectetur.</h1>
    <div class="search__container"></div>
        <form action="" class="search"></form>
        <div>
            <label for=""></label>
            <input type="text">
        </div>
        <div>
            <label for=""></label>
            <select name="" id="">

            </select>
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</section>


<section class="result">

</section>