<section class="hero">
    <div class="hero__info">
        <h1>Find Your Path to Emotional Wellness Today</h1>
        <p>We believe in creating a safe, supportive space for individuals seeking mental and emotional healing</p>
        {{> secondaryBtn textContent="form"}}
    </div>
    <div class="hero__grid">
        <div class="green-bg">
            <img src="/assets/img/person-1.png" alt="">
        </div>
        <div class="orange-bg">
            <img src="/assets/img/person-2.png" alt="">

        </div>
        <div class="orange-bg">
            <img src="/assets/img/person-3.png" alt="">

        </div>
        <div class="green-bg">
            <img src="/assets/img/person-4.png" alt="">

        </div>
    </div>
</section>