<section class="login">
  <section class="log-container" id="container">
    <form action="" id="login-form">
      <h1>Login</h1>
      <input type="text" placeholder="Username" id="login-username" />
      <span id="username-error"></span>
      <input type="password" placeholder="Password" id="login-pw" />
      <span id="password-error"></span>
      <button id="login-btn" type="submit">Login</button>
      <p class="login-new_user">New User?<a
          href="/signup"
          class="forgot-password"
        > Click Here To Create A SOMA Account</a></p>
    </form>
  </section>
</section>