<section class="login">
  <section class="log-container" id="container">
    <form action="/login" method="POST" id="login-form">
      <h1>Login</h1>
      <input type="email" name="email" placeholder="Email" id="login-email" required>
      <span id="email-error"></span>
      <input type="password" name="password" placeholder="Password" id="login-pw" required>
      <span id="password-error"></span>
      <button id="login-btn" type="submit">Login</button>
      <p>New User? <a href="/signup">Click Here To Create An Account</a></p>
    </form>
  </section>
</section>
