<section class="profile">
  <div class="user-card">
    <div class="user-header">
      <h1>Profile Information</h1>
      <img src="/assets/img/profile-img.jpeg" alt="Profile Picture" />
    </div>
    <div class="profile-body">
      <h3>First Name: <span>{{user.first_name}}</span></h3>
      <h3>Last Name: <span>{{user.last_name}}</span></h3>
      <h3>Email Address: <span>{{user.email}}</span></h3>
      <button id="logoutBtn">Logout of SOMA?</button>
    </div>
  </div>

  <!-- Logout Modal -->
  <div id="logoutModal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <h2>Are you sure you want to logout?</h2>
      <button id="confirmLogout" class="confirm-logout">Logout</button>
      <button id="cancelLogout" class="cancel-logout">Cancel</button>
    </div>
  </div>
</section>
