<section class="profile">
  <div class="user-card">
    <div class="user-header">
      <h1>SOMA Profile Information</h1>
      <img src="/assets/svg/user-dark.svg" />
    </div>
    <div class="profile-body">
      <h3 id="profile-username">Username: </h3>
      <h3>First Name: </h3>
      <h3>Last Name:</h3>
      <h3>Email Address:</h3>
      <h3>Gender: </h3>
    </div>
  </div>
</section>