<section class="signup">

 <section class="container" id="container">
    <div class="sign-up-container">
      <form action="" id="sign-up-form">
        <h1>Create Account</h1>
        <p>Enter your email for registration</p>
        <input type="text" placeholder="First Name" id="firstName">
        <input type="text" placeholder="Last Name" id="lastName">
        <input type="text" placeholder="Username" id="username">
        <input type="email" placeholder="Email" id="email">
        <input type="password" placeholder="Password" id="password">
        <input type="password" placeholder="Re-enter Password" id="passwordAgain">
        <button type="submit">Sign Up Now!</button>
        <p>Already have an Account? <a href="/login">Login Here</a></p>
      </form>
    </div>
    <div id="errorModal" class="modal">
  <div class="modal-content">
    <ul id="errorMessages"></ul>
  </div>
</div> 
</section>