@import url("var.css");
@import url("global.css");
@import url("navbar.css");
@import url("footer.css");

.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 80vh;

  & h1 {
    font-size: var(--fontSize-lg);
  }

  & p {
    font-size: var(--fontSize-sm);
    text-align: center;
  }
}
