.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  & .navbar__logo p {
    font-weight: bold;
  }

  & .navbar__links ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }

  & .navbar__login {
    display: flex;
    align-items: center;
    gap: 10px;

    & .theme--icon {
      cursor: pointer;
    }

    & a:nth-child(1) {
      & img {
        width: 25px;
      }
    }

    & .navbar--icon {
      display: none;
    }
  }
}

.menu--container {
  position: relative;

  & .menu {
    position: absolute;
    display: none;
    right: 0;
    padding: 10px 15px;
    text-align: end;
    background-color: var(--gray-color);
    border-radius: 8px;

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}

@media (max-width: 779px) {
  .navbar {
    & .navbar__links {
      display: none;
    }

    & .navbar__login {
      & .navbar--icon {
        display: block;
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
