.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 75px 0;

  & .navbar__logo p {
    font-weight: bold;
    color: var(--primary-color);
  }

  & .navbar__links ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }

  & .navbar__login {
    display: flex;
    align-items: center;
    gap: 10px;

    & .theme--icon {
      cursor: pointer;
    }

    & a:nth-child(1) {
      & img {
        width: 25px;
      }
    }

    & .navbar--icon {
      display: none;
    }
  }
}

.menu--container {
  position: relative;

  & .menu {
    position: absolute;
    display: none;
    right: 0;
    padding: 10px 15px;
    text-align: end;
    background-color: var(--gray-color);
    border-radius: 8px;

    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the logo and "SOMA" */
}

.navbar__logo img {
  width: 50px; /* Keep the size manageable */
  height: 50px;
  object-fit: contain; /* Ensures the image scales correctly */
}

.navbar__logo p {
  font-size: var(--fontSize-md); /* Adjust text size as needed */
  margin: 0; /* Remove default margins to align it better */
}

@media (max-width: 779px) {
  .navbar {
    & .navbar__links {
      display: none;
    }

    & .navbar__login {
      & .navbar--icon {
        display: block;
        width: 30px;
        cursor: pointer;
      }
    }
  }
}
